/*.bin
/*.mode
/*.gz
/*.m4
/*.pc
/.DS_Store
/INSTALL
/Makefile
/Makefile.in
/ap_include.am
/autom4te.cache
/config.log
/config.status
/configure
/install-sh
/missing
/modes
/.deps
/config.in
/config
/*-*.prob
/test/*-output.txt
