* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-id-ms.id-ms.dix -text
/apertium-id-ms.id-ms.t1x -text
/apertium-id-ms.id.metadix -text
/apertium-id-ms.ms-id.t1x -text
/apertium-id-ms.ms.metadix -text
/autogen.sh -text
/buscaPar.xsl -text
/configure.ac -text
dev/id.coverage-summary.txt -text
dev/inconsistency-summary.sh -text
dev/inconsistency.sh -text
dev/ms.coverage-summary.txt -text
dev/news200612.id.txt -text
dev/news200612.ms.txt -text
dev/story.id.txt -text
dev/story.ms.txt -text
dev/testvoc-summary.id-ms.txt -text
dev/testvoc-summary.ms-id.txt -text
dev/testvoc.sh -text
/empty.t1x -text
/id-ms.prob -text svneol=unset#unset
/modes.xml -text
/ms-id.prob -text svneol=unset#unset
/principal.xsl -text
